
header{
    text-align: center;

    font-family: Script;
}
table{
    margin-left: auto;
    margin-right: auto;
}

Edu{
    text-align: center;
}
h1{
    text-align: center;
}

main{
    text-align: center;
}

li ul{
    text-align:center;
}